node_modules
dist
dist-ssr
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.git
.gitignore
README.md
.vscode
.idea
.DS_Store
backend/node_modules
backend/dist
backend/
dist/
node_modules/
